{% extends "layout.html" %}
{% block content %}
   <div class="content-section">
       <form method="POST" action="">
           {{ form.hidden_tag() }}
           <fieldset class="form-group">
               <legend class="border-bottom mb-4">What event did I join?</legend>
                <div class="form-group">
                    {{ form.id.label(class="form-control-label") }}
                    {% if form.id.errors %}
                        {{ form.id(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.id.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.id(class="form-control form-control-lg") }}
                    {% endif %}
                </div><table border = 1>
                        <tr>
                                <th>Sport Name</th>
                                <th>Description</th>
                                <th>Start Time</th>
                                <th>End Time</th>
                        </tr>
                        {% for user in userinfo %}
                        <tr>
                          <td> {{user[0]}} </td>
                          <td> {{user[1]}} </td>
                          <td> {{user[2]}} </td>
                          <td> {{user[3]}} </td>
                        </tr>
                        {% endfor %}
                    </table>
           </fieldset>
           <div class="form-group">
               {{ form.submit(class="btn btn-outline-info") }}
           </div>
       </form>
   </div>
   <div class="border-top pt-3">
       <small class="text-muted">
            <a class="ml-2" href="{{ url_for('home') }}">Back</a>
       </small>
   </div>
{% endblock content %}
